# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

In [71]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete["school_name"].unique())
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [3]:
# Calculate the Total Budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [4]:
# Calculate the Average Scores
average_math_score = school_data_complete["math_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [6]:
# Calculate the Percentage Pass Rates

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
print (passing_math_count)

29370

## School Summary

In [ ]:
# Determine the School Type

# Calculate the total student count


# Calculate the total school budget and per capita spending
# per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]


# Calculate the average test scores

### School Summary

Create a DataFrame that summarizes key metrics about each school, including the following:

* School name
* School type
* Total students
* Total school budget
* Per student budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

In [36]:
# Determine the School Type
school_data_type = school_data.iloc[: , 2]
school_data_type

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [94]:
school_data["type"].unique()

array(['District', 'Charter'], dtype=object)

In [67]:
#Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [30]:
# Calculate the total student count
student_count = school_data_complete ["Student ID"].count
student_count ()

39170

In [31]:
#Calculate the total number of schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [32]:
# Calculate the total school budget and per capita spending
#Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [35]:
#calculate the budget per school
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [37]:

# Calculate the average test scores
#average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [38]:
#Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [39]:
# Get the students who passed math score 70 or greater

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_count

29370

In [43]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_count

33610

In [79]:
#passing_math_percentage
passing_math_percentage = passing_math_count/student_count*100
passing_math_percentage

74.9808526933878

In [80]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [86]:
#percentage of students that passed math and reading.
passing_math_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70) 
                                                  & (school_data_complete["math_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [ ]:

# Get the the students who passed both reading and math in a separate DataFrame.

In [156]:
data = {'Data': ['total schools', 'total students', 'total budget', 'average math score','average reading score', 'passing reading %', 'passing math %','overall passing','passing math count', 'passing reading count'],
        'Result': [15, 39170, 24649428, 78.98, 81.87, 74.98, 85.80, 65.17, 29370, 33610]
                 }
df=pd.DataFrame(data)
df

                    Data       Result
0          total schools        15.00
1         total students     39170.00
2           total budget  24649428.00
3     average math score        78.98
4  average reading score        81.87
5      passing reading %        74.98
6         passing math %        85.80
7        overall passing        65.17
8     passing math count     29370.00
9  passing reading count     33610.00

In [187]:
# Minor Data Cleanup
school_summary = pd.DataFrame({"Total Schools": [school_count],  "Total Students": [student_count],  "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score], 
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [passing_math_percentage],
                                 "% Passing Reading": [passing_reading_percentage],
                                 "% Overall Passing": [overall_passing_rate]})

school_summary = school_summary[["Total Schools", "Total Students", "Total Budget",
                                     "Average Math Score", 
                                     "Average Reading Score",
                                     "% Passing Math",
                                     "% Passing Reading",
                                     "% Overall Passing"]]

# Formatting
school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary["Total Budget"] = school_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
school_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## Top Performing Schools (By % Overall Passing)

In [189]:
# Sort and show top five schools
#top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort and show bottom five schools

## Math Scores by Grade

In [ ]:
# Create data series of scores by grade levels using conditionals

# Group each by school name

# Combine series into single DataFrame

# Minor data wrangling

# Display the DataFrame
scores_by_grade

## Reading Score by Grade

In [ ]:
# Create data series of scores by grade levels using conditionals

# Group each by school name

# Combine series into single DataFrame

# Minor data wrangling

# Display the DataFrame
scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
#  This step can be skip but its best to make a copy. 
school_spending_df = per_school_summary

In [ ]:
# Categorize spending based on the bins.

school_spending_df

In [ ]:
#  Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame


# Minor data wrangling


# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins

per_school_summary

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame

# Minor data wrangling

# Display results
size_summary

## Scores by School Type

In [ ]:
#  Create new series using groupby for"
# Type | Average Math Score | Average Reading Score | % Passing Math | % Passing Reading | % Overall Passing

In [ ]:
# Assemble into DataFrame


# Minor data wrangling


# Display results
type_summary