# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

In [2]:
#Calculate the total number of schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [3]:
#Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [4]:
# Calculate the total student count
student_count = school_data_complete ["Student ID"].count
student_count ()

39170

In [5]:
# Calculate the average test scores
#average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [6]:
#Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# Get the students who passed math score 70 or greater

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_count

29370

In [8]:
#Calculate number of  students with a passing reading score (70 or greater)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_count

33610

In [27]:
#passing_math_percentage
passing_math_percentage = passing_math_count/student_count*100
passing_math_percentage

TypeError: unsupported operand type(s) for /: 'int' and 'method'

In [29]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

TypeError: float() argument must be a string or a number, not 'method'

In [30]:
#percentage of students that passed math and reading.
passing_math_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70) 
                                                  & (school_data_complete["math_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

TypeError: float() argument must be a string or a number, not 'method'

In [ ]:

# Get the the students who passed both reading and math in a separate DataFrame.

In [ ]:
data = {'Data': ['total schools', 'total students', 'total budget', 'average math score','average reading score', 'passing reading %', 'passing math %','overall passing','passing math count', 'passing reading count'],
        'Result': [15, 39170, 24649428, 78.98, 81.87, 74.98, 85.80, 65.17, 29370, 33610]
                 }
df=pd.DataFrame(data)
df

In [28]:
# Data Cleanup
school_summary = pd.DataFrame({"Total Schools": [school_count],  "Total Students": [student_count],  "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score], 
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [passing_math_percentage],
                                 "% Passing Reading": [passing_reading_percentage],
                                 "% Overall Passing": [overall_passing_rate]})

school_summary = school_summary[["Total Schools", "Total Students", "Total Budget",
                                     "Average Math Score", 
                                     "Average Reading Score",
                                     "% Passing Math",
                                     "% Passing Reading",
                                     "% Overall Passing"]]

# Formatting
school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary["Total Budget"] = school_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
school_summary

NameError: name 'passing_math_percentage' is not defined

## school summary

In [10]:
#school name
school_data["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [11]:
# Determine the School Type
school_data_type = school_data.iloc[: , 2]
school_data_type

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [12]:
#total students
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [13]:
#total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [14]:
#calculate the budget per student
per_student_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_student_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [15]:
#average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [16]:
#Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [18]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

TypeError: float() argument must be a string or a number, not 'method'

In [19]:

#percentage of students that passed math and reading.
passing_math_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70) 
                                                  & (school_data_complete["math_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

TypeError: float() argument must be a string or a number, not 'method'

In [20]:
# Convert to DataFrame
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_student_budget,
                                   "Average Math Score": per_math_score,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing": overall_passing_rate})

# Minor data wrangling
per_school_summary = per_school_summary[["School Type", "Total Students", "Total School Budget", "Per Student Budget",
                                         "Average Math Score", "Average Reading Score", 
                                         "% Passing Math", "% Passing Reading", 
                                         "% Overall Passing"]]
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

NameError: name 'school_types' is not defined

## Highest-performing schools (by % overall passing)

In [ ]:
# Sort and show top five schools

## Lowest-performing schools (by % overall passing)

In [ ]:
# Sort and show bottom five schools

## Math scores grade

In [ ]:
# create a dataframe that lists the average math score for students of each grade at each school
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]
    
ninth_graders
tenth_graders
eleventh_graders
twelfth_graders

In [40]:
# Group each by school name
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

ninth_graders_scores
tenth_graders_scores
eleventh_graders_scores
twelfth_graders_scores

output =(
    f"ninth_graders_scores"
    f"--------------------------\n"
    f" tenth_graders_scores= {tenth_graders_scores}\n"
    f"--------------------------\n"
   
print(output)

SyntaxError: invalid syntax (1176174327.py, line 18)

## Reading Scores by Grade

In [ ]:
# create a dataframe that lists the average reading score for students of each grade at each school

## Scores by School Spending

In [ ]:
# Establish the bins

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
#  This step can be skip but its best to make a copy. 
school_spending_df = per_school_summary

In [ ]:
# Categorize spending based on the bins.

school_spending_df

In [ ]:
#  Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame


# Minor data wrangling


# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins

per_school_summary

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame

# Minor data wrangling

# Display results
size_summary

## Scores by School Type

In [ ]:
#  Create new series using groupby for"
# Type | Average Math Score | Average Reading Score | % Passing Math | % Passing Reading | % Overall Passing

In [ ]:
# Assemble into DataFrame


# Minor data wrangling


# Display results
type_summary