# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

In [3]:
#Calculate the total number of schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [4]:
#Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the total student count
student_count = school_data_complete ["Student ID"].count()
student_count

39170

In [6]:
# Calculate the average test scores
#average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
#Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [8]:
# Get the students who passed math score 70 or greater

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_count

29370

In [9]:
#Calculate number of  students with a passing reading score (70 or greater)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_count

33610

In [10]:
#passing_math_percentage
passing_math_percentage = passing_math_count/student_count*100
passing_math_percentage

74.9808526933878

In [11]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [12]:
#percentage of students that passed math and reading.
passing_math_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70) 
                                                  & (school_data_complete["math_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [13]:

# Get the the students who passed both reading and math in a separate DataFrame.

In [14]:
# Minor Data Cleanup
district_summary = pd.DataFrame({"Total Schools": [school_count], 
                                 "Total Students": [student_count], 
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score], 
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [passing_math_percentage],
                                 "% Passing Reading": [passing_reading_percentage],
                                 "% Overall Passing": [overall_passing_rate]})

district_summary = district_summary[["Total Schools", "Total Students", "Total Budget",
                                     "Average Math Score", 
                                     "Average Reading Score",
                                     "% Passing Math",
                                     "% Passing Reading",
                                     "% Overall Passing"]]

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [15]:
data = {'Data': ['total schools', 'total students', 'total budget', 'average math score','average reading score', 'passing reading %', 'passing math %','overall passing','passing math count', 'passing reading count'],
        'Result': [15, 39170, 24649428, 78.98, 81.87, 74.98, 85.80, 65.17, 29370, 33610]
                 }
df=pd.DataFrame(data)
df

                    Data       Result
0          total schools        15.00
1         total students     39170.00
2           total budget  24649428.00
3     average math score        78.98
4  average reading score        81.87
5      passing reading %        74.98
6         passing math %        85.80
7        overall passing        65.17
8     passing math count     29370.00
9  passing reading count     33610.00

## school summary

In [16]:
#school name
school_data["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [17]:
# Determine the School Type
school_type = school_data.set_index(["school_name"])['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [18]:
#total students
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [19]:
#total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [20]:
#calculate the budget per student
per_student_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_student_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [21]:
per_student_capita = per_student_budget/per_school_counts
per_student_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [22]:
# #average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [23]:
# #Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [24]:
# passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [25]:
# passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [26]:

#percentage of students that passed math and reading.
passing_math_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70) 
                                                  & (school_data_complete["math_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [27]:
# Convert to DataFrame
per_school_summary = pd.DataFrame({"School Type": school_type,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_student_budget,
                                   "Per Student Budget": per_student_capita,
                                   "Average Math Score": average_math_score,
                                   "Average Reading Score": average_reading_score,
                                   "% Passing Math": passing_math_percentage,
                                   "% Passing Reading": passing_reading_percentage,
                                   "% Overall Passing": overall_passing_rate})

# Minor data wrangling
per_school_summary = per_school_summary[["School Type", "Total Students", "Total School Budget", "Per Student Budget",
                                         "Average Math Score", "Average Reading Score", 
                                         "% Passing Math", "% Passing Reading", 
                                         "% Overall Passing"]]
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,78.985371,81.87784,74.980853,85.805463,65.172326
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.985371,81.87784,74.980853,85.805463,65.172326
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.985371,81.87784,74.980853,85.805463,65.172326
Ford High School,District,2739,"$1,763,916.00",$644.00,78.985371,81.87784,74.980853,85.805463,65.172326
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.985371,81.87784,74.980853,85.805463,65.172326
Hernandez High School,District,4635,"$3,022,020.00",$652.00,78.985371,81.87784,74.980853,85.805463,65.172326
Holden High School,Charter,427,"$248,087.00",$581.00,78.985371,81.87784,74.980853,85.805463,65.172326
Huang High School,District,2917,"$1,910,635.00",$655.00,78.985371,81.87784,74.980853,85.805463,65.172326
Johnson High School,District,4761,"$3,094,650.00",$650.00,78.985371,81.87784,74.980853,85.805463,65.172326
Pena High School,Charter,962,"$585,858.00",$609.00,78.985371,81.87784,74.980853,85.805463,65.172326
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,78.985371,81.87784,74.980853,85.805463,65.172326
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,78.985371,81.87784,74.980853,85.805463,65.172326
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,78.985371,81.87784,74.980853,85.805463,65.172326
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,78.985371,81.87784,74.980853,85.805463,65.172326
Wright High School,Charter,1800,"$1,049,400.00",$583.00,78.985371,81.87784,74.980853,85.805463,65.172326

## Highest-performing schools (by % overall passing)

In [28]:
# Sort and show top five schools
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,78.985371,81.87784,74.980853,85.805463,65.172326
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.985371,81.87784,74.980853,85.805463,65.172326
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.985371,81.87784,74.980853,85.805463,65.172326
Ford High School,District,2739,"$1,763,916.00",$644.00,78.985371,81.87784,74.980853,85.805463,65.172326
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.985371,81.87784,74.980853,85.805463,65.172326

## Lowest-performing schools (by % overall passing)

In [29]:
# Sort and show bottom five schools
lowest_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=True)
lowest_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,78.985371,81.87784,74.980853,85.805463,65.172326
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.985371,81.87784,74.980853,85.805463,65.172326
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.985371,81.87784,74.980853,85.805463,65.172326
Ford High School,District,2739,"$1,763,916.00",$644.00,78.985371,81.87784,74.980853,85.805463,65.172326
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.985371,81.87784,74.980853,85.805463,65.172326

## Math scores grade

In [30]:
# create a dataframe that lists the average math score for students of each grade at each school
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]
    
ninth_graders
tenth_graders
eleventh_graders
twelfth_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39137,39137,Victoria Bailey,F,12th,Thomas High School,75,70,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130

In [31]:
# Group each by school name
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

ninth_graders_scores
tenth_graders_scores
eleventh_graders_scores
twelfth_graders_scores

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [32]:
# Combine series into single DataFrame
scores_by_grade = pd.DataFrame({"9th": ninth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})
# Minor data wrangling
scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

# Display the DataFrame
scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Scores by Grade

In [33]:
# create a dataframe that lists the average reading score for students of each grade at each school

ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [34]:
#Create data series of scores by grade levels using conditionals
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

In [35]:
# Combine series into single DataFrame
scores_by_grade = pd.DataFrame({"9th": ninth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})

# Minor data wrangling
scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

# Display the DataFrame
scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [86]:
# Establish the bins 
spending_bins = [0, 500,  600,  645,]
group_names = ["$500-600", "$600-645","$645-680" ]

In [87]:
# Create a copy of the school summary since it has the "Per Student Budget" 
#  This step can be skip but its best to make a copy. 
school_spending_df = per_school_summary

In [88]:
# Categorize the spending based on the bins
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], spending_bins, labels=group_names, right=False)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Ford High School,District,2739,"$1,763,916.00",$644.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Hernandez High School,District,4635,"$3,022,020.00",$652.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Holden High School,Charter,427,"$248,087.00",$581.00,78.985371,81.87784,74.980853,85.805463,65.172326,$500-600
Huang High School,District,2917,"$1,910,635.00",$655.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Johnson High School,District,4761,"$3,094,650.00",$650.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Pena High School,Charter,962,"$585,858.00",$609.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Wright High School,Charter,1800,"$1,049,400.00",$583.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN

In [89]:
average_math_score = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
average_reading_score = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
passing_reading_percentage = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
overall_passing_rate = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [90]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score" : average_math_score.round(2),
                                 "Average Reading Score": average_reading_score.round(2),
                                 "% Passing Math": type_passing_math.round(2), 
                                 "% Passing Reading":passing_reading_percentage.round(2),
                                 "% Overall Passing": overall_passing_rate.round(2)})

# Minor data wrangling
spending_summary = spending_summary[["Average Math Score", 
                                     "Average Reading Score", 
                                     "% Passing Math", "% Passing Reading",
                                     "% Overall Passing"]]

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
$500-600,78.99,81.88,74.98,85.81,65.17
$600-645,NaN,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN,NaN

## Scores by School Size

In [44]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [45]:
# Categorize the spending based on the bins

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Ford High School,District,2739,"$1,763,916.00",$644.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Hernandez High School,District,4635,"$3,022,020.00",$652.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Holden High School,Charter,427,"$248,087.00",$581.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Huang High School,District,2917,"$1,910,635.00",$655.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Johnson High School,District,4761,"$3,094,650.00",$650.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Pena High School,Charter,962,"$585,858.00",$609.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN
Wright High School,Charter,1800,"$1,049,400.00",$583.00,78.985371,81.87784,74.980853,85.805463,65.172326,NaN

In [46]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [47]:
# Assemble into DataFrame
type_summary = pd.DataFrame({"Average Math Score" : average_math_score,
                             "Average Reading Score": average_reading_score,
                             "% Passing Math": type_passing_math,
                             "% Passing Reading": passing_reading_percentage,
                             "% Overall Passing": overall_passing_rate})

# Minor data wrangling
type_summary = type_summary[["Average Math Score", 
                             "Average Reading Score",
                             "% Passing Math",
                             "% Passing Reading",
                             "% Overall Passing"]]

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
$585-630,NaN,NaN,NaN,NaN,NaN
$630-645,NaN,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN,NaN